<%= form_for @user_details do |f| %>

<br>
  <div>
    <%= f.label "name" %><br />
    <%= f.text_field :name, class: 'field' %>
  </div>
  <div>
    <%= f.label "email" %><br />
    <%= f.text_field :state, class: 'field' %>
  </div>

  <div>
    <%= f.label "phone_number" %><br />
    <%= f.text_field :phone_number, class: 'field' %>
  </div>


  <div>
    <%= f.label "description" %><br />
    <%= f.text_field :description, class: 'field' %>
  </div>
  <%= flash[:errors] if flash[:errors] %>
  <%= f.submit %>
  <% end %>